<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Colonoscopy Prep</name>
    <description>
        This application is the demo for Stony Brook Children's Hospital Colonoscopy Prep App
    </description>
    <author email="maxrogers90@gmail.com" href="SBUMAD.github.io">
        Max Rogers
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
